# Salin file ini menjadi ".env" dan masukkan kredensial email Anda
# CONTOH UNTUK GMAIL:
EMAIL_USER="email.anda@gmail.com"

# PERHATIAN: Jangan gunakan password asli gmail Anda! 
# Gunakan "App Password" (Sandi Aplikasi) dari Pengaturan Keamanan Akun Google
EMAIL_PASS="abcd efgh ijkl mnop"
